.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #a8c0ff 0%, #3f2b96 100%);
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
  border-radius: 2px;
}

.search-button {
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 2px;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
}
